<html>

<head>
    <title>Snippets - Create a snippet</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header class='nav-bar'>
        <div class='nav-item'><a href="/dashboard">Snippets</a></div>
        <hr class='nav-hr'>
        <div class='nav-item'><a href="/create-gab">Create a snippet</a></div>
        <hr class='nav-hr'>
        <div class='nav-item'>Logged in as {{#user}}{{name}}{{/user}}</div>
        <hr class='nav-hr'>
        <div class='nav-item'><a href="/logout">Logout</a>
        </div>
    </header>
    <form method='post' action '/create-snippet'>
        <div>
            <label for="title">Snippet Title</label>
            <input type="text" id="title" name="title" autofocus>
        </div>
        <div>
            <label for="body">Snippet Body/Code</label>
            <textarea class="new-snippet" id="body" name="body" rows="3" cols="50"></textarea>
        </div>
        <div>
            <label for="notes">Optional Notes</label>
            <textarea class="new-snippet" id="notes" name="notes" rows="3" cols="50"></textarea>
        </div>
        <div>
            <label for="language">Language</label>
            <input type="text" name="language" id="language">
        </div>
        <div>
            <label for="tags">Snippet Tags/Categories</label>
            <input type="text" name="tags" id="tags">
        </div>

        <div>
            {{#errors}}{{msg}}{{/errors}}
        </div>
        <div>
            <button class="button submit" type="submit">Save the Gab</button>
        </div>
    </form>
</body>

</html>